@tailwind base;
@tailwind components;
@tailwind utilities;
:root, body {
    background-color: 	whitesmoke;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #7080908b;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #70809046; 
    border-radius: 10px;
  }